.root {
    background-color: transparent;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
}

.project-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.project-text {
    padding: 13px;
    text-align: start;
    font-weight: 500;
    display: flex;
}

.project-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 3.41px 3.66px 10px -3px black;
}

.project-description {
    text-align: start;
    direction: ltr;
    display: block;
    flex-shrink: 1;
    align-self: center;
}

.image-wrapper {
    width: 400px;
    display: flex;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}

.bio-text-container {
    display: block;
    grid-auto-flow: row;
    grid-template-rows: 2fr;
    grid-template-columns: 2fr;
    margin-left: 20px;
    align-items: baseline;
    align-content: center;
    justify-content: end;
    text-align: start;
    direction: ltr;
    padding-right: 16px;
}